<div class="container padding-top-60">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Your Terraform script</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h6>We are currently using Terraform with JSON syntax in this tool. To switch your output to HCL (Hashicorp
        Configuration
        Language) check out <a href="https://github.com/hashicorp/hcl/issues/13#issuecomment-244908948">this link</a>
      </h6>
      <div *ngIf="showOutput">
        Terraform json output:
        <br />
        <code>{{output | json}}</code>
      </div>
      <div *ngIf="!showOutput">
        <code>Exported code will go here.</code>
      </div>
    </div>
  </ng-template>

  <div class="align-center">
    <h1>Welcome to Terraparty! 🎉</h1>
    <h4>The simplest Terraform script builder!</h4>
    <p>📋 Goals: We want to be the easiest Terraform script creator. You can export <i>valid</i>
      Terraform scripts through this simple UI.</p>
    <p>🔎 **This is still in development. Do not use this for production!! Use at your own risk!**</p>
    <h4>We are going to create <i>main.tf.json.</i> Learn how to use it
      <a routerLink="/howto" routerLinkActive="active">here!</a></h4>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-5 card border-secondary mb-3">
      <div class="card-body">
        <h4 class="card-title">
          Add a resource
        </h4>
        <div class="form-group">

          <label for="resourceType">Resource type: </label>
          <select class="form-control form-control-sm" id="resourceType" [(ngModel)]="resourceModel.selectedIndex"
            #resourceType (change)="resourceTypeOnChange(resourceModel.selectedIndex)">
            <option *ngFor="let typeSelection of resourceTypesMeta; index as i; " [value]="i">
              {{typeSelection.type}}
            </option>
          </select>
          <!-- {{resourceTypesMeta | json}} -->
          <div>

            <!-- {{resourceModel | json}} -->
            <div *ngIf="resourceModel.selectedIndex">
              <div *ngIf="resourceTypesMeta[resourceModel.selectedIndex].docsUrl">
                <a class="btn btn-sm btn-success margin-top-10"
                  [href]="resourceTypesMeta[resourceModel.selectedIndex].docsUrl" target="_blank">Documentation</a>
              </div>
              <label for="resourceModelName">Custom Resource Name <strong>(Required)</strong>: </label>
              <input class="form-control form-control-sm" id="resourceModelName"
                [ngClass]="{'is-invalid': !resourceModel.name}" [(ngModel)]="resourceModel.name" />
              <ul class="no-li-dots">
                <li
                  *ngFor="let resourcePropertyMeta of resourceTypesMeta[resourceModel.selectedIndex].properties; index as resourcePropertyIndex;">
                  <!-- {{resourcePropertyMeta.elementType}} -->
                  <div *ngIf="resourcePropertyMeta.elementType != 'li'">
                    <br />
                    <h5 [innerHTML]="resourcePropertyMeta.description"></h5>
                    <br />
                  </div>

                  <div *ngIf="resourcePropertyMeta.elementType == 'li'"
                    [ngClass]="{'depth-two': resourcePropertyMeta.listDepth == 2}">
                    <strong>{{resourcePropertyMeta.name}} </strong>

                    <span *ngIf="userSettings.showLongDescriptions"><i class="text-muted"
                        [innerHTML]="resourcePropertyMeta.description"></i>:</span>
                    <span *ngIf="!userSettings.showLongDescriptions">
                      <ng-template #resourcePropertyMetaDescription>
                        <span [innerHTML]="resourcePropertyMeta.description"></span>
                      </ng-template>
                      <span class="badge badge-info shortDescriptionMargins"
                        [ngbTooltip]="resourcePropertyMetaDescription"> Info</span>
                    </span>

                    <span class="input-group">
                      <!--- The values vs vars vs resources dropdown itself -->
                      <select [(ngModel)]="selectedValueOptions[resourcePropertyIndex]" [value]="value"
                        class="form-control form-control-sm col-lg-5">
                        <option *ngFor="let valueOption of valueOptions; index as i; trackBy: id"
                          [value]="valueOption.name">{{valueOption.displayName}}</option>
                      </select>

                      &nbsp;
                      <!-- <div *ngIf="selectedValueOptions[resourcePropertyIndex]"> -->
                      <!-- {{selectedValueOptions[resourcePropertyIndex] | json}} -->
                      <!-- </div> -->
                      <span class="col-lg-7" *ngIf="selectedValueOptions[resourcePropertyIndex] == 'existingVariable'">
                        <div *ngIf="terraformTFVars.length < 1">no custom variables set </div>
                        <div *ngIf="terraformTFVars.length >= 1">
                          <select class="form-control form-control-sm"
                            [(ngModel)]="resourceModel.properties[resourcePropertyIndex]">
                            <option *ngFor="let customVar of terraformTFVars"
                              [value]="'${var.' +  customVar.name + '}'">
                              {{customVar.name}}
                            </option>
                          </select>
                        </div>
                      </span>
                      <span *ngIf="selectedValueOptions[resourcePropertyIndex] == 'existingResource'">
                        <div *ngIf="mainTF.length < 1">no other resources </div>
                        <div *ngIf="mainTF.length >= 1">
                          <select class="form-control form-control-sm"
                            [(ngModel)]="resourceModel.properties[resourcePropertyIndex]">
                            <option *ngFor="let customRes of mainTF"
                              [value]="'${' + customRes.type + '.' +  customRes.name + '.id}'">
                              {{customRes.name}}
                            </option>
                          </select>
                        </div>
                      </span>

                      <!--- main text box -->
                      <span class="col-lg-9" *ngIf="selectedValueOptions[resourcePropertyIndex] == 'value'">
                        <input [(ngModel)]="resourceModel.properties[resourcePropertyIndex]"
                          class="form-control form-control-sm" />
                      </span>

                    </span>

                    <!-- New variable -->
                    <div *ngIf="selectedValueOptions[resourcePropertyIndex] == 'newVariable'">
                      <div class="form-group">
                        <label for="variableModelname">Variable name: </label>
                        <input class="form-control form-control-sm" id="variableModelname"
                          [(ngModel)]="variableModel.name" />
                        <label for="variableModelValue">Variable value: </label>
                        <input class="form-control form-control-sm" id="variableModelValue"
                          [(ngModel)]="variableModel.value" />
                        <br />
                        <button class="btn btn-sm btn-primary" (click)="addVariable()">Add variable</button>
                        <br />
                        <!-- <br /> -->
                      </div>
                    </div>

                    <!-- Display the output readonly textbox on new line if existing dropdown textbox is selected-->
                    <div *ngIf="selectedValueOptions[resourcePropertyIndex] == 'existingResource'">
                      <input [(ngModel)]="resourceModel.properties[resourcePropertyIndex]"
                        class="form-control form-control-sm margin-top-5" readonly />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <br />
            <!-- TODO: specify variables and other resources -->
            <button class="btn btn-primary" (click)="addResource()">Add resource</button>&nbsp;
          </div>
        </div>
      </div>
    </div>

    <div class="offset-lg-2 col-lg-5 card border-secondary mb-3">
      <div class="card-body">
        <div class="card-title">
          <h4 class="mr-auto">Your Terraform model
          </h4>

        </div>

        <ul>
          <h5>Variables:</h5>
          <li *ngFor="let variable of terraformTFVars">
            Variable name: {{variable.name}}
            <br />

            <span><label for="variableValueDisplay">Variable name: </label> <input class="form-control form-control-sm"
                id="variableValueDisplay" [(ngModel)]="variable.value" /></span>
          </li>
          {{terraformTFVars.length < 1 ? '(none)': '' }}
        </ul>


        <ul>
          <h5>Resources:</h5>
          <li *ngFor="let resource of mainTF">
            <!-- {{resource | json}} -->
            Custom Resource Name <i><strong>(Required)</strong></i>:
            <input class="form-control form-control-sm" id="resourceNameOutput"
              [ngClass]="{'is-invalid': !resource.name}" [(ngModel)]="resource.name" />
            <div>Resource type: {{resource.type}} </div>
            <div class="pull-right"><label class="form-check-label">
                <input type="checkbox" class="btn btn-sm btn-info" [(ngModel)]="resource.showDetails" />
                Show details
              </label>
            </div>
            <br />
            <div *ngIf="resource.showDetails">
              <ul class="no-li-dots">
                <li *ngFor="let resourceProp of resource.properties">
                  <div *ngIf="resourceProp.elementType == 'li'">
                    <span><label for="resourceProperty">{{resourceProp.name}}&nbsp;</label>
                      <span *ngIf="userSettings.showLongDescriptions"><i class="text-muted"
                          [innerHTML]="resourceProp.description"></i>:</span>
                      <span *ngIf="!userSettings.showLongDescriptions">
                        <ng-template #resourcePropDescription><span [innerHTML]="resourceProp.description"></span>
                        </ng-template>
                        <span class="badge badge-info shortDescriptionMargins"
                          [ngbTooltip]="resourcePropDescription">Info</span>
                      </span>
                      <input class="form-control form-control-sm" id="resourceProperty"
                        [(ngModel)]="resourceProp.value" />
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          {{mainTF.length < 1 ? '(none)': '' }}
        </ul>

        <button class="pull-right btn btn-info" (click)="openOutputModal(content)">Export </button>
      </div>
    </div>
  </div>