<div class="container padding-top-60">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Your Terraform script</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="showOutput">
        Terraform json output:
        <br />
        <code>{{output | json}}</code>
      </div>
      <div *ngIf="!showOutput">
        <code>Exported code will go here.</code>
      </div>
    </div>
  </ng-template>

  <h4>We are going to create <i>main.tf.json.</i> Learn how to use it
    <a routerLink="/howto" routerLinkActive="active">here!</a></h4>
  <br />
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group">
        <label for="variableModelname">Variable name: </label>
        <input class="form-control form-control-sm" id="variableModelname" [(ngModel)]="variableModel.name" />
        <label for="variableModelValue">Variable value: </label>
        <input class="form-control form-control-sm" id="variableModelValue" [(ngModel)]="variableModel.value" />
        <br />
        <button class="btn btn-primary" (click)="addVariable()">Add variable</button>
        <br />
        <!-- <br /> -->
      </div>
      <div class="form-group">

        <label for="resourceType">Resource type: </label>
        <select class="form-control form-control-sm" id="resourceType" [(ngModel)]="resourceModel.selectedIndex"
          #resourceType (change)="resourceTypeOnChange(resourceModel.selectedIndex)">
          <option *ngFor="let typeSelection of resourceTypesMeta; index as i; trackBy: id;" [value]="i">
            {{typeSelection.type}}
          </option>
        </select>
        <!-- {{resourceTypesMeta | json}} -->
        <div>

          <!-- {{resourceModel | json}} -->
          <div *ngIf="resourceModel.selectedIndex">
            <div *ngIf="resourceTypesMeta[resourceModel.selectedIndex].docsUrl">
              <a [href]="resourceTypesMeta[resourceModel.selectedIndex].docsUrl" target="_blank">Documentation link</a>
            </div>
            <label for="resourceModelName">Custom Resource Name <strong>(Required)</strong>: </label>
            <input class="form-control form-control-sm" id="resourceModelName" [(ngModel)]="resourceModel.name" />
            <ul class="no-li-dots">
              <li
                *ngFor="let resourcePropertyMeta of resourceTypesMeta[resourceModel.selectedIndex].properties; index as resourcePropertyIndex;">
                <!-- {{resourcePropertyMeta.elementType}} -->
                <div *ngIf="resourcePropertyMeta.elementType != 'li'">
                  <br />
                  <h5 [innerHTML]="resourcePropertyMeta.description"></h5>
                  <br />
                </div>

                <div *ngIf="resourcePropertyMeta.elementType == 'li'">
                  <strong>{{resourcePropertyMeta.name}} </strong>
                  <i class="text-muted" [innerHTML]="resourcePropertyMeta.description"></i>:

                  <span>
                    <select [(ngModel)]="selectedValueOptions[resourcePropertyIndex]"  
                     [value]="value">
                      <option *ngFor="let valueOption of valueOptions; index as i; trackBy: id"
                        [value]="valueOption.name">{{valueOption.displayName}}</option>
                    </select>


                    
                    <!-- <div *ngIf="selectedValueOptions[resourcePropertyIndex]"> -->
                    <!-- {{selectedValueOptions[resourcePropertyIndex] | json}} -->
                    <!-- </div> -->
                    <span *ngIf="selectedValueOptions[resourcePropertyIndex] == 'newVariable'">
                        "test"
                      </span>
                    <span *ngIf="selectedValueOptions[resourcePropertyIndex] == 'value'">
                      <input [(ngModel)]="resourceModel.properties[resourcePropertyIndex]"
                        class="form-control form-control-sm" />
                    </span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <br />
          <!-- TODO: specify variables and other resources -->
          <button class="btn btn-primary" (click)="addResource()">Add resource</button>&nbsp;
          <button class="btn btn-info" (click)="openOutputModal(content)">Show output </button>
        </div>
      </div>
    </div>

    <div class="offset-lg-2 col-lg-5">
      <h3>Your Terraform model: </h3>
      <ul>
        <h5>Variables:</h5>
        <li *ngFor="let variable of terraformTFVars">
          Variable name: {{variable.name}}
          <br />

          <span><label for="variableValueDisplay">Variable name: </label> <input class="form-control form-control-sm"
              id="variableValueDisplay" [(ngModel)]="variable.value" /></span>
        </li>
        {{terraformTFVars.length < 1 ? 'none': '' }}
      </ul>


      <ul>
        <h5>Resources:</h5>
        <li *ngFor="let resource of mainTF">
          <!-- {{resource | json}} -->
          Custom Resource Name <i><strong>(Required)</strong></i>:
          <input class="form-control form-control-sm" id="resourceNameOutput" [(ngModel)]="resource.name" />
          <div>Resource type: {{resource.type}} </div>
          <div class="pull-right"><label class="form-check-label">
              <input type="checkbox" class="btn btn-sm btn-info" [(ngModel)]="resource.showDetails" />
              Show details
            </label>
          </div>
          <br />
          <div *ngIf="resource.showDetails">
            <ul class="no-li-dots">
              <li *ngFor="let resourceProp of resource.properties">
                <div *ngIf="resourceProp.elementType == 'li'">
                  <span><label for="resourceProperty">{{resourceProp.name}}
                      <i class="text-muted" [innerHTML]="resourceProp.description"></i></label>
                    <input class="form-control form-control-sm" id="resourceProperty"
                      [(ngModel)]="resourceProp.value" /></span>
                </div>
              </li>
            </ul>
          </div>
        </li>
        {{mainTF.length < 1 ? 'none': '' }}
      </ul>
    </div>
  </div>