<p>We are going to create <i>{{fileToCreate}}</i></p>

Variable key: <input [(ngModel)]="variableModel.key" />
<br />
Variable value: <input [(ngModel)]="variableModel.value" />
<br />
<button (click)="addVariable()">Add variable</button>
<br />
<br />

Resource type:
<select id="resourceType" [(ngModel)]="resourceModel.selectedIndex" #resourceType>
  <option *ngFor="let typeSelection of resourceTypesMeta; index as i; trackBy: id;" [value]="i">{{typeSelection.type}}</option>
</select>
<!-- <br /> -->
<!-- {{resourceTypesMeta | json}} -->
<br />
Resource id (you name it): <input [(ngModel)]="resourceModel.name" />
<br />
<div>
  <!-- {{resourceModel | json}} -->
  <ul *ngIf="resourceModel.selectedIndex">
    <li *ngFor="let resourceProperty of resourceTypesMeta[resourceModel.selectedIndex].properties">
      {{resourceProperty.key}}: <input /> - {{resourceProperty.dataType}}</li>
  </ul>
</div>
<!-- TODO: specify variables and other resources -->
<button (click)="addResource()">Add resource</button>
<hr>
<ul>
  Variables:
  <li *ngFor="let variable of variablesTF">
    Variable key: {{variable.key}}
  </li>
  {{variablesTF.length < 1 ? 'none': '' }}
</ul>


<ul>
  Resources:
  <li *ngFor="let resource of mainTF">
    Resource type: {{resource.type}}
    <br />
    Resource name: {{resource.name}}
  </li>
  {{mainTF.length < 1 ? 'none': '' }}
</ul>