<div class="container">
  <div style="text-align:center">
    <img width="450" src="../../assets/terraparty-worst-mockup.png" />
    <h1>Welcome to {{ title }}! 🎉</h1>
  </div>

  <p>This is an app to create Terraform scripts and make your experience better.</p>
  <p>🔎 **This is still in development. Do not use this for production!!**</p>
  <p>Upcoming goals are: </p>
  <ul>
    <li>Let you run Terraform from the console. </li>
    <li>Let you import other Terraform scripts. </li>
    <li>Let you save over existing scripts of yours. </li>
    <li>Error handling. </li>
  </ul>

  <h2>Links</h2>

  <ul>
    <li>
      <a routerLink="/filebuilder" routerLinkActive="active">Terraform File builder</a>
    </li>
  </ul>
</div>