<div class="container">
  <div style="text-align:center">
    <img width="450" src="../../assets/terraparty-worst-mockup.png" />
    <h1>Welcome to {{ title }}! 🎉</h1>
    <h4>The simplist Terraform script builder!</h4>
  </div>

  <br />
  <p>🔎 **This is still in development. Do not use this for production!!**</p>
  <p>Upcoming goals are: </p>
  <ul>
    <li>Let you run Terraform from the console. </li>
    <li>Let you import other Terraform scripts. </li>
    <li>Let you save over existing scripts of yours. </li>
    <li>Error handling. </li>
  </ul>

  <h2>
    <a routerLink="/filebuilder" routerLinkActive="active">Click here to started here!</a></h2>

</div>