<div class="container">
  <div style="text-align:center" class="padding-top-120">
    <!-- <img width="450" src="../../assets/terraparty-worst-mockup.png" /> -->
    <h1>Welcome to {{ title }}! 🎉</h1>
    <h4>The simplest Terraform script builder!</h4>
  </div>

  <br />

  <p>📋 Goals: We want to be the script creator that is the most easy to use. In this MVP you can export <i>valid</i>
    Terraform through our simple GUI.</p>
  <p>🔎 **This is still in development. Do not use this for production!! Use at your own risk!**</p>
  <p>Upcoming objectives are: </p>
  <ul>
    <li>Example sets</li>
    <li>More Terraform Providers!</li>
    <li>Let you import other Terraform scripts </li>
    <li>Role generators</li>
    <li>Let you run Terraform from the console </li>
    <li>Make copies of your own scripts </li>
    <li>Error handling </li>
    <li>Dark theme! </li>
  </ul>

  <h1>
    <a routerLink="/filebuilder" routerLinkActive="active"><button class="btn btn-lg btn-success">GET STARTED HERE!</button></a>
  </h1>
  <h4>📧 Please support us with FEEDBACK! <a href="mailto:michaelbdavidson8@gmail.com">Email us!</a></h4>
  <h4>🍴 Check us out on <a href="https://github.com/michaelbdavidson7/terraparty">Github</a></h4>
  <h6>🍺 Donate <a href="https://www.paypal.me/michaelbdavidson8">here</a></h6>
</div>