<div class="container padding-top-120">
  <h5>This guide assumes you have the AWS CLI installed and credentials on your system already. </h5>
  <h6>We are using Terraform with JSON syntax in this guide. To switch your output to HCL (Hashicorp Configuration
    Language) check out <a href="https://github.com/hashicorp/hcl/issues/13#issuecomment-244908948">this link</a></h6>
  <br />
  <ol>
    <li>Install Terraform if you haven't already</li>
    <li>Throw the exported json file into a new folder</li>
    <li>Run <code>terraform init</code> from the command line in that folder</li>
    <li>Run <code>terraform plan</code> to tell you what Terraform will do</li>
    <li>Run <code>terraform apply</code> to actually deploy these resources to the cloud. You will be charged for this!
    </li>
    <li>Run <code>terraform destroy</code> to delete all those resources. It doesn't hurt to double check in your cloud
      provider account and other regions too.</li>
  </ol>
</div>