<div class="container padding-top-120">
<h5>This guide assumes you have the AWS CLI installed and credentials on your system already. </h5>
  <br />
  <ol>
    <li>Create a new folder</li>
    <li>Add exported json file to that folder</li>
    <li>Install Terraform if you haven't already</li>
    <li>Run <code>terraform init</code> from the command line in that folder</li>
    <li>Run <code>terraform plan</code> to tell you what Terraform will do</li>
    <li>Run <code>terraform apply</code> to actually deploy these resources to the cloud. You will be charged for this!</li>
    <li>Run <code>terraform destroy</code> to delete all those resources. Doesn't hurt to double check in your cloud provider account and other regions too.</li>
  </ol>
</div>